<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
  <property name="hibernate.connection.url">jdbc:mysql://localHost/tp1</property>
    <property name="connection.username">root</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
 	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  	<property name="connection.password"></property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>   
 	<property name="hibernate.hbm2ddl.auto">create</property>
 	
 	
 
    <mapping class="fr.uvsq.datasclale.modele.Adresse" /> 
   	<mapping class="fr.uvsq.datasclale.modele.Article"/>
   	<mapping class="fr.uvsq.datasclale.modele.AvisClient" /> 
   	<mapping class="fr.uvsq.datasclale.modele.Categorie"/>
   	<mapping class="fr.uvsq.datasclale.modele.Client" /> 
   	<mapping class="fr.uvsq.datasclale.modele.Commande"/>
   	<mapping class="fr.uvsq.datasclale.modele.CoordBancaire" /> 
   	<mapping class="fr.uvsq.datasclale.modele.Facture"/>
   	<mapping class="fr.uvsq.datasclale.modele.Livraison" /> 
   	<mapping class="fr.uvsq.datasclale.modele.Panier"/>
   	<mapping class="fr.uvsq.datasclale.modele.Promotion" /> 
   	<mapping class="fr.uvsq.datasclale.modele.TypeLivraison"/>
  </session-factory>
</hibernate-configuration>